# SQL Manager 2007 Lite for MySQL 4.4.2.1
# ---------------------------------------
# Host     : localhost
# Port     : 3306
# Database : movie_db


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

SET FOREIGN_KEY_CHECKS=0;

CREATE DATABASE `movie_db`
    CHARACTER SET 'latin1'
    COLLATE 'latin1_swedish_ci';

USE `movie_db`;

#
# Structure for the `actor` table : 
#

CREATE TABLE `actor` (
  `actor_id` int(11) NOT NULL AUTO_INCREMENT,
  `actor_name` varchar(20) DEFAULT NULL,
  `actor_pic` varchar(150) DEFAULT NULL,
  `actor_summary` varchar(2000) DEFAULT NULL,
  PRIMARY KEY (`actor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1352 DEFAULT CHARSET=utf8;

#
# Structure for the `actor_comment` table : 
#

CREATE TABLE `actor_comment` (
  `actorcomment_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `actor_id` int(11) DEFAULT NULL,
  `comment_text` varchar(200) DEFAULT NULL,
  `comment_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`actorcomment_id`),
  KEY `user_id` (`user_id`),
  KEY `actor_id` (`actor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8;

#
# Structure for the `actor_movie` table : 
#

CREATE TABLE `actor_movie` (
  `ac_id` int(11) NOT NULL AUTO_INCREMENT,
  `actor_id` int(11) NOT NULL,
  `movie_id` int(11) NOT NULL,
  PRIMARY KEY (`ac_id`),
  KEY `actor_id` (`actor_id`),
  KEY `movie_id` (`movie_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;

#
# Structure for the `admin` table : 
#

CREATE TABLE `admin` (
  `admin_id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_name` varchar(20) NOT NULL,
  `admin_password` varchar(20) NOT NULL,
  PRIMARY KEY (`admin_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;

#
# Structure for the `friend` table : 
#

CREATE TABLE `friend` (
  `friend_id` int(11) NOT NULL AUTO_INCREMENT,
  `userid_1` int(11) NOT NULL,
  `userid_2` int(11) NOT NULL,
  PRIMARY KEY (`friend_id`) USING BTREE,
  KEY `userid_1` (`userid_1`) USING BTREE,
  KEY `userid_2` (`userid_2`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=COMPACT;

#
# Structure for the `movie` table : 
#

CREATE TABLE `movie` (
  `movie_id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `movie_name` varchar(20) DEFAULT NULL,
  `movie_summary` varchar(300) DEFAULT NULL,
  `movie_pic` varchar(100) DEFAULT NULL,
  `movie_type` int(11) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `movie_time` varchar(20) DEFAULT NULL,
  `rate` float(9,3) DEFAULT '4.000',
  PRIMARY KEY (`movie_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=1062 DEFAULT CHARSET=utf8 ROW_FORMAT=COMPACT;

#
# Structure for the `movie_comment` table : 
#

CREATE TABLE `movie_comment` (
  `comment_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `movie_id` int(11) DEFAULT NULL,
  `comment_text` varchar(300) DEFAULT NULL,
  `comment_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`comment_id`) USING BTREE,
  KEY `user_id` (`user_id`) USING BTREE,
  KEY `movie_id` (`movie_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8 ROW_FORMAT=COMPACT;

#
# Structure for the `type` table : 
#

CREATE TABLE `type` (
  `type_id` int(11) NOT NULL,
  `type_name` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`type_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=COMPACT;

#
# Structure for the `type_movie` table : 
#

CREATE TABLE `type_movie` (
  `tm_id` int(11) NOT NULL AUTO_INCREMENT,
  `type_id` int(11) DEFAULT NULL,
  `movie_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`tm_id`)
) ENGINE=InnoDB AUTO_INCREMENT=939 DEFAULT CHARSET=utf8;

#
# Structure for the `type_user` table : 
#

CREATE TABLE `type_user` (
  `tu_id` int(11) NOT NULL AUTO_INCREMENT,
  `type_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`tu_id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8;

#
# Structure for the `user` table : 
#

CREATE TABLE `user` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(20) NOT NULL,
  `phone` int(11) NOT NULL,
  `username` varchar(20) NOT NULL,
  `password` varchar(20) NOT NULL,
  `birthday` date DEFAULT NULL,
  `avatar` varchar(100) DEFAULT NULL,
  `gender` varchar(4) DEFAULT NULL,
  `signature` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`user_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8 ROW_FORMAT=COMPACT;

#
# Data for the `actor` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `actor` table  (LIMIT 500,500)
#

COMMIT;

#
# Data for the `actor` table  (LIMIT 1000,500)
#

COMMIT;

#
# Data for the `actor_comment` table  (LIMIT 0,500)
#

INSERT INTO `actor_comment` (`actorcomment_id`, `user_id`, `actor_id`, `comment_text`, `comment_time`) VALUES 
  (42,1,1,'老婆','2018-05-24 09:30:57'),
  (43,1,2,'沙发','2018-05-24 09:31:13'),
  (44,15,1,'rua','2018-05-24 14:01:46'),
  (45,16,1,'楼上真恶心','2018-05-24 15:27:28');
COMMIT;

#
# Data for the `actor_movie` table  (LIMIT 0,500)
#

INSERT INTO `actor_movie` (`ac_id`, `actor_id`, `movie_id`) VALUES 
  (1,1,1);
COMMIT;

#
# Data for the `admin` table  (LIMIT 0,500)
#

INSERT INTO `admin` (`admin_id`, `admin_name`, `admin_password`) VALUES 
  (1,'123','123');
COMMIT;

#
# Data for the `movie` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `movie` table  (LIMIT 500,500)
#

COMMIT;

#
# Data for the `movie_comment` table  (LIMIT 0,500)
#

INSERT INTO `movie_comment` (`comment_id`, `user_id`, `movie_id`, `comment_text`, `comment_time`) VALUES 
  (28,1,1,'AA','2018-05-24 08:35:04'),
  (40,15,1,'我觉得不行','2018-05-24 14:29:06'),
  (41,16,1,'我觉得很好','2018-05-24 15:27:05'),
  (42,1,2,'bruh','2018-05-28 10:08:42');
COMMIT;

#
# Data for the `type` table  (LIMIT 0,500)
#

INSERT INTO `type` (`type_id`, `type_name`) VALUES 
  (1,'喜剧\0e'),
  (2,'恐怖\0e'),
  (3,'悬疑\0e'),
  (4,'惊悚\0e'),
  (5,'剧情\0e'),
  (6,'爱情\0e'),
  (7,'科幻\0e'),
  (8,'动作\0e'),
  (9,'犯罪\0e'),
  (10,'纪录片\0\0\\');
COMMIT;

#
# Data for the `type_movie` table  (LIMIT 0,500)
#

COMMIT;

#
# Data for the `type_movie` table  (LIMIT 500,500)
#

COMMIT;

#
# Data for the `type_user` table  (LIMIT 0,500)
#

INSERT INTO `type_user` (`tu_id`, `type_id`, `user_id`) VALUES 
  (45,2,1),
  (46,3,1),
  (47,7,1),
  (48,1,19),
  (49,7,19);
COMMIT;

#
# Data for the `user` table  (LIMIT 0,500)
#

COMMIT;



/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;